In [8]:
# データを担当者ごとに分割☑
# 必要のないデータを除外☑
# 空白データを除外☑
# 新規シートとして追加☑
# シート名は担当者名_売上金額合計

In [20]:
# import pandas as pd
df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ")
# df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ",header=2)
# df = df.drop(columns = ["Unnamed: 0","Unnamed: 9","Unnamed: 10"])
# df = df.dropna()
df
# tantou_list = df["担当者"].unique()
# existing_file ="売上一覧(改).xlsx"
# with pd.ExcelWriter(existing_file, mode="a" ,engine="openpyxl") as writer:
#     for tantou in tantou_list:
#         df_tantou = df[df["担当者"] == tantou]
        # df_tantou.to_excel(writer, sheet_name= tantou, index=False)

,Unnamed: 0,【社外秘】,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,No.,取引日,取引先,担当者,商品名,単価,個数,売上金額,NaN,NaN
2,NaN,1,2022-04-01 00:00:00,テスト１株式会社,田中,キーボード,6000,1,6000,NaN,【メモ】
3,NaN,2,2022-04-02 00:00:00,テスト２株式会社,佐藤,タブレット,50000,1,50000,NaN,担当者別に処理
4,NaN,3,2022-04-03 00:00:00,テスト２株式会社,NaN,タブレット,50000,4,200000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,NaN,98,2022-07-07 00:00:00,テスト３株式会社,鈴木,キーボード,6000,5,30000,NaN,NaN
100,NaN,99,2022-07-08 00:00:00,テスト２株式会社,佐藤,マウス,1500,2,3000,NaN,NaN
101,NaN,100,2022-07-09 00:00:00,テスト１株式会社,佐藤,PC,100000,3,300000,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,合計,4203000,309,13697000,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,平均,42030,3.09,136970,NaN,NaN

In [24]:
import pandas as pd
df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ")
df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ",header=2)
df = df.drop(columns = ["Unnamed: 0","Unnamed: 9","Unnamed: 10"])
df = df.dropna()
df
# tantou_list = df["担当者"].unique()
# existing_file ="売上一覧(改).xlsx"
# with pd.ExcelWriter(existing_file, mode="a" ,engine="openpyxl") as writer:
#     for tantou in tantou_list:
#         sheet_name = f"{tantou}_売上金額合計"
#         df_tantou = df[df["担当者"] == tantou]
#         df_tantou.to_excel(writer, sheet_name, index=False)

In [32]:
import pandas as pd
df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ")
df = pd.read_excel("売上一覧(改).xlsx",sheet_name ="まとめ",header=2)
df = df.drop(columns = ["Unnamed: 0","Unnamed: 9","Unnamed: 10"])
df = df.dropna()
df
# 担当者ごとの売上金額合計を計算する
sum_by_tantou = df.groupby("担当者")["売上金額"].sum()

# Excelファイルに担当者ごとの売上金額合計を書き込む
tantou_list = df["担当者"].unique()
existing_file ="売上一覧(改).xlsx"
with pd.ExcelWriter(existing_file, mode="a" ,engine="openpyxl") as writer:
      for tantou, sum_value in sum_by_tantou.items():
 # シート名に担当者名と売上金額合計を連結して書き込む
        sheet_name = f"{tantou}_{int(sum_value)}円"
        df_tantou = df[df["担当者"] == tantou]
        df_tantou.to_excel(writer, sheet_name, index=False)